@using Microsoft.AspNetCore.Components.Web

@namespace NoJsBlazor
@typeparam Type

<div class="slider" @attributes="@Attributes">
    @if (Title != string.Empty) {
        <label>@Title</label>
    }
    <div class="slider-buttons">
        <button disabled="@(Value <= Min || !Enabled)" @onclick="OnLeftButton">@LeftButtonContent</button>
        @if (!Editable) {
            <label>@Display(Value)</label>
        }
        else {
            <input value="@Display(Value)" @onchange="OnChangeEditField">
        }
        <button disabled="@(Value >= Max || !Enabled)" @onclick="OnRightButton">@RightButtonContent</button>
    </div>
    <input type="range" disabled="@(!Enabled)" min="@Min" max="@Max" step="@Step" value="@Value" @oninput="OnInputSlider" @onchange="OnChangeSlider">
</div>

@code {
    private static void DefaultLeftButton(Microsoft.AspNetCore.Components.Rendering.RenderTreeBuilder __builder) {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
            <line x1="2" y1="5" x2="8" y2="5" />
            <line x1="2" y1="5" x2="4" y2="3" />
            <line x1="2" y1="5" x2="4" y2="7" />
        </svg>
    }

    private static void DefaultRightButton(Microsoft.AspNetCore.Components.Rendering.RenderTreeBuilder __builder) {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
            <line x1="2" y1="5" x2="8" y2="5" />
            <line x1="6" y1="3" x2="8" y2="5" />
            <line x1="6" y1="7" x2="8" y2="5" />
        </svg>
    }
}
