@namespace NoJsBlazor

<div class="loader-icon" @attributes="@Attributes"
        style="@AddStyles() width: @(Size)px; height: @(Size)px; animation: @animation @(SpinDuration)ms @spinTimingFunction @spinDirection infinite;">
    <div class="ball-1"
            style="left: @(ballMarginOuter)%; top: @(ballMarginOuter)%; width: @(ballSize)%; height: @(ballSize)%;
        animation: ball-color-1 @(ColorDuration)ms alternate @colorTimingFunction infinite,
            ball-move-1 @(BallMoveDuration)ms alternate @ballmoveTimingFunction infinite"></div>
    <div class="ball-2"
            style="left: @(ballMarginInner)%; top: @(ballMarginOuter)%; width: @(ballSize)%; height: @(ballSize)%;
        animation: ball-color-2 @(ColorDuration)ms alternate @colorTimingFunction infinite,
            ball-move-2 @(BallMoveDuration)ms alternate @ballmoveTimingFunction infinite"></div>
    <div class="ball-3"
            style="left: @(ballMarginOuter)%; top: @(ballMarginInner)%; width: @(ballSize)%; height: @(ballSize)%;
        animation: ball-color-3 @(ColorDuration)ms alternate @colorTimingFunction infinite,
            ball-move-3 @(BallMoveDuration)ms alternate @ballmoveTimingFunction infinite"></div>
    <div class="ball-4"
            style="left: @(ballMarginInner)%; top: @(ballMarginInner)%; width: @(ballSize)%; height: @(ballSize)%;
        animation: ball-color-4 @(ColorDuration)ms alternate @colorTimingFunction infinite,
            ball-move-4 @(BallMoveDuration)ms alternate @ballmoveTimingFunction infinite"></div>
</div>
