@namespace NoJsBlazor
@inherits ProgressBar

<div class="speedometer-progress-bar" @attributes="@Attributes">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 200 200">
        <text x="-5" y="70">%</text>
        <circle class="outer-circle" cx="0" cy="0" r="99" />
        
        @for (int i = 0; i <= 100; i++) {
            double radians = (3.0 / 2.0 * Math.PI) * i / 100.0 + (5.0 / 4.0 * Math.PI);
            (double x, double y) vec = (Math.Sin(radians), -Math.Cos(radians));

            if (i % 10 == 0) {
                <line class="big-tick" x1="@(vec.x * 99)" y1="@(vec.y * 99)" x2="@(vec.x * 85)" y2="@(vec.y * 85)" />

                string number = i.ToString();
                int numberLength = number.Length * 4;
                <text><text x="@(vec.x * 70 - numberLength)" y="@(vec.y * 70 + 4)">@number</text></text>
            }
            else {
                <line class="small-tick" x1="@(vec.x * 99)" y1="@(vec.y * 99)" x2="@(vec.x * 90)" y2="@(vec.y * 90)" />
            }
        }

        <circle class="meter-circle" cx="0" cy="0" />
        <g class="meter" style="rotate: @((float)(3.0 / 2.0 * Math.PI) * Progress + (float)(1.0 / 4.0 * Math.PI))rad">
            <line x1="0" y1="-0.2" x2="0" y2="1" />
            <circle class="line-cap-begin" cx="0" cy="0" />
            <circle class="line-cap-end" cx="0" cy="0" />
        </g>
    </svg>
    <p class="center">@Text</p>
</div>
