@namespace NoJsBlazor
@inherits InputBase<string>

<div class="input-field-container" @attributes="@AdditionalAttributes">
    <input
            class="@CssClass"
            id="@Id"
            value="@Value"
            @oninput="OnInput"
            type="@Type"
            name="@Name"
            autocomplete="@(Autocomplete ? "on" : "off")"
            @attributes="@InputAttributes" />
    <label class="@(HasValue ? "filled-input-label" : string.Empty)" for="@Id">@Label</label>
</div>
