@namespace NoJsBlazor

<div class="input-field-container" @attributes="@Attributes">
    <input id="@Id" value="@Value" @oninput="OnInput" type="@Type" name="@Name" autocomplete="@(Autocomplete ? "on" : "off")" />
    <label class="@(hasValue ? "filled-input-label" : "")" for="@Id">@Label</label>
</div>
