@namespace ManualTesting.Client
@inherits PageComponentBase
@page "/"

<div id="home">
    <h1 class="headline-background">@Lang.Print("My Home Page", "Meine Startseite")</h1>
    
    <section>
        <h2 class="headline">Carousel</h2>

        @{
            const int HEIGHT = 450;
        }
        <div class="center" style="width: 80%; max-width: 900px">
            <Carousel @ref="carousel" ActiveStart="1" Animation="carouselAnimation" BeginRunning="false" IntervalTime="intervalTime" AutoStartTime="autoStartTime" ControlArrowsEnable="controlArrowsEnable" IndicatorsEnable="indicatorsEnable" PlayButtonEnable="playButtonEnable">
                <Items>
                    @foreach (string color in colorList) {
                        <CarouselItem>
                            <div style="height: @(HEIGHT)px; background: @color;"></div>
                        </CarouselItem>
                    }
                </Items>
                <Overlay>
                    <p>Ich bin ein Overlay!</p>
                </Overlay>
            </Carousel>
        </div>
        <div class="center" style="margin: 50px auto;">
            <div style="margin-bottom: 10px">
                <label>items</label>
                @foreach (int i in Enumerable.Range(0, colorList.Count)) {
                    <div>
                        <input @bind="colorList[i]" style="width: 250px" />
                    </div>
                }
                <div class="center">
                    <button @onclick="_ => colorList.Add(string.Empty)" style="padding: 3px 5px; background-color: #88F;">+</button>
                    <button @onclick="_ => colorList.RemoveAt(colorList.Count - 1)" style="padding: 3px 5px;  background-color: #F88;">-</button>
                </div>
                <div>
                    <input @bind="swap1" style="width: 40px" />
                    <input @bind="swap2" style="width: 40px" />
                    <button @onclick="_ => carousel!.SwapCarouselItems(swap1, swap2)">Swap items</button>
                </div>
            </div>
            <div>
                <select @bind="carouselAnimation" style="padding: 3px 10px;">
                    <option value="@CarouselAnimation.FadeOut">FadeOut</option>
                    <option value="@CarouselAnimation.Slide">Slide</option>
                    <option value="@CarouselAnimation.SlideRotate">SlideRotate</option>
                </select>
                <label>Animation</label>
            </div>
            <div>
                <input type="checkbox" @bind="controlArrowsEnable" />
                <label>controlArrowsEnable</label>
            </div>
            <div>
                <input type="checkbox" @bind="indicatorsEnable" />
                <label>indicatorsEnable</label>
            </div>
            <div>
                <input type="checkbox" @bind="playButtonEnable" />
                <label>playButtonEnable</label>
            </div>
            <div>
                <input @bind="intervalTime" style="width: 50px; padding: 3px 5px;" />
                <label>intervalTime</label>
            </div>
            <div>
                <input @bind="autoStartTime" style="width: 50px; padding: 3px 5px;" />
                <label>autoStartTime</label>
            </div>
        </div>
    </section>

    <section>
        <h2 class="headline">CollapseDiv</h2>

        <div class="center" style="width: 300px">
            <CollapseDiv>
                <Head>
                    <p>press me!</p><CollapseDivArrow />
                </Head>
                <Content>
                    <p>Item 1</p>
                    <p>Item 2</p>
                    <p>Item 3</p>
                </Content>
            </CollapseDiv>
        </div>
    </section>

    <section>
        <h2 class="headline">ContextMenu</h2>

        <div class="center" style="position: relative; padding: 20px; background-color: #DDD;" @onclick:stopPropagation>
            <div style="width: 300px; height: 200px; background-color: #333;" @onclick="OpenContextMenu"></div>
            <ContextMenu @ref="contextMenu">
                <ContextSubMenu>
                    <Head>First</Head>
                    <Items>
                        <ContextMenuItem>Nested First</ContextMenuItem>
                    </Items>
                </ContextSubMenu>
                <ContextSubMenu>
                    <Head>Second</Head>
                    <Items>
                        <ContextMenuItem>Nested Second</ContextMenuItem>
                    </Items>
                </ContextSubMenu>
                <ContextMenuItem>Third</ContextMenuItem>
            </ContextMenu>
        </div>
    </section>

    <section>
        <h2 class="headline">Dialog</h2>
        <button class="btn-main center" @onclick="OpenDialog" @onclick:stopPropagation>open dialog</button>
    </section>

    <section>
        <h2 class="headline">Input</h2>

        <Input Title="Eingabe" />
    </section>

    <section>
        <h2 class="headline">Loader Icon</h2>

        <div class="center" style="min-height: 100px;">
            <LoaderIcon />
        </div>
    </section>

    <section>
        <h2 class="headline">ProgressBar</h2>

        <button class="btn-main center" style="margin: 30px auto 10px auto;" @onclick="StandardProgressBarButtonClick">Add 1%</button>
        <div class="center">
            <StandardProgressBar Progress="standardBarProgress" Text="@standardBarText" />
        </div>

        <button class="btn-main center" style="margin: 30px auto 10px auto;" @onclick="CircleProgressBarButtonClick">Add 1%</button>
        <div class="center">
            <CircleProgressBar @ref="circleProgress" />
        </div>

        <button class="btn-main center" style="margin: 30px auto 10px auto;" @onclick="SpeedometerProgressBarButtonClick">Add 10%</button>
        <div class="center">
            <SpeedometerProgressBar @ref="speedometerProgress" />
        </div>
    </section>

    <section>
        <h2 class="headline">Slider</h2>

        <div class="center">
            <Slider Type="int" Title="Test1" Display="@((int value) => $"{value}%")" />
        </div>

        <div class="center">
            <Slider Type="int" Editable="true" style="width: 200px;" />
        </div>

        <div class="center">
            <Slider Type="decimal" />
        </div>
    </section>
</div>


@code {
    public void RenderDialog(RenderTreeBuilder __builder) {
        <Dialog @ref="dialog" ModalScreen="false" OnTitlePointerDown="OnTitleDown" OnTitlePointerUp="OnTitleUp">
            <Title>
                <p style="margin: 0;">My Test Dialog</p>
            </Title>
            <Content>
                <p style="margin: 0;">
                    Ich bin irgendein Text.<br />
                    Ich habe keinen Sinn.<br />
                    Mich zu lesen bringt gar nichts.</p>
                <button class="btn-main center" style="margin-top: 20px;" @onclick="CloseDialog">close dialog</button>
            </Content>
        </Dialog>
    }
}
