@namespace ManualTesting.Client
@inherits PageComponentBase

<div id="not-found">
    <h1 class="headline-background">@Lang.Print("Not Found", "Nicht Gefunden")</h1>

    <section class="center">
        <p>@Lang.Print("The site at the specified URL could not be found.", "Die Seite an der angegebenen URL konnte nicht gefunden werden.")</p>
        <a href="/" class="center" style="margin-block: 50px;">@Lang.Print("Back to Home Page", "Zurück zur Startseite")</a>
        @if (Root.PreRendering) {
            <p style="text-align: center; font-size: 0.8rem;">@Lang.Print("Loading app to suggest similar URLs.", "Applikation wird geladen, um ähnliche URLs vorzuschlagen.")</p>
            <div class="center">
                <LoaderIcon />
            </div>
        }
        else {
            @((RenderFragment)SortAndRenderUrls)
        }
    </section>
</div>

@code {
    private unsafe void RenderUrls(RenderTreeBuilder __builder, int** buckets, bool atLeastOneItem) {
        if (atLeastOneItem) {
            <p class="center">@Lang.Print("Similar URLs", "Ähnliche URLs")</p>

            <ul class="center">
                @for (int distance = 1; distance <= BAD_REQUEST_LIST_MAX_DISTANCE; distance++) {
                    for (int entry = 0; entry < buckets[0][distance]; entry++) {
                        string url = UrlList[buckets[distance][entry]];
                        <li style="margin: 5px 0;">
                            <a href=@url>@url</a>
                        </li>
                    }
                }
            </ul>
        }
    }
}
