@namespace NoJsBlazor
@inherits ListholdingComponentBase<NavBarMenu>

<nav class="@navRootClass" @attributes="@Attributes">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
            class="nav-toggle @(Expanded ? "expanded" : string.Empty)" aria-label="Toggle navigation" role="button"
            @onmousedown="ToggleTC.OnMouseDown" @ontouchstart="ToggleTC.OnTouchStart">
        <line x1='4' y1='7' x2='26' y2='7'/>
        <line x1='4' y1='15' x2='26' y2='15'/>
        <line x1='4' y1='23' x2='26' y2='23'/>
    </svg>
    
    @if (Brand != null) {
        <div class="nav-brand" @onclick="Reset">@Brand</div>
    }

    <ul class="nav-list @(Expanded ? "expanded" : string.Empty)">
        <CascadingValue Name="Parent" Value="(ListholdingComponentBase<NavBarMenu>)this" IsFixed="true">
            @Items
        </CascadingValue>
    </ul>
</nav>
