@namespace NoJsBlazor

@if (Active) {
    <div class="dialog-modal-background" style="@(!ModalScreen ? "background: #0000; pointer-events: none;" : "")"
            @onmousedown="modalBackgroundTC.OnMouseDown" @ontouchstart="modalBackgroundTC.OnTouchStart"
            @onmousemove="headBarTC.OnMouseMove" @ontouchmove="headBarTC.OnTouchMove"
            @onmouseup="headBarTC.OnMouseUp" @ontouchend="headBarTC.OnTouchEnd">
        <div class="dialog-window" @attributes="@Attributes" style="transform: translate(@(XMovement)px, @(YMovement)px); @AddStyles()"
                @onmousedown:stopPropagation="true" @ontouchstart:stopPropagation="true"
                @onmousemove="headBarTC.OnMouseMove" @ontouchmove="headBarTC.OnTouchMove"
                @onmouseup="headBarTC.OnMouseUp" @ontouchend="headBarTC.OnTouchEnd">
            @if (ShowTitle) {
                <div class="title" @onmousedown="headBarTC.OnMouseDown" @ontouchstart="headBarTC.OnTouchStart">
                    @Title
                </div>
            }
            <div class="content @(!ShowTitle ? "content-only" : "")">
                @Content
            </div>
        </div>
    </div>
}
